html {
    position: relative;
    min-height: 100%;
}

* {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    background-color: #fbfbfb;
    font-size: 100%;
    font-family: Roboto, sans-serif;
    line-height: 1.3em;
    background-color: #fff;
}

a {
    color: #9b93ce;
}

a:hover {
    text-decoration: underline;
    color: #c4bfe7;
}

a:active {
    text-decoration: none;
    color: #9b93ce;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    background-color: #c4bfe7;
}

input:focus {
    color: black;
}

.header-mobile {
    display: flex;
    max-height: 100vh;
    padding: 5px 15px;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #c4bfe7;
}

.button {
    margin-left: auto;
}

.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-nav li {
    border-bottom: 1px solid #d6d2f5;
    padding: 0 30px;
}

.navbar-nav li:first-child {
    border-top: 1px solid #d6d2f5;
    margin-top: 6px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border: 1px solid rgb(255 255 255 / 70%);
    padding: 5px 15px;
    margin-right: 16px;
    font-size: 26px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #c4bfe7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 62px;
}

.sidenav a {
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    min-width: 175px;
}

.sidenav a:hover {
    color: #9b93ce;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    color: #726e92;
    min-width: auto;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.bg-color {
    background-color: #c4bfe7;
}

.btn {
    font-size: 1em;
    text-transform: inherit;
}

.btn-primary {
    background-color: #9b93ce;
    border-color: #9b93ce;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #c4bfe7;
    border-color: #c4bfe7;
    color: #ffffff;
}

form fieldset {
    padding: 20px 0;
}

.navbar-brand img {
    width: 100%;
    max-width: 180px;
}

.container {
    width: auto;
    max-width: 1140px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

mark:only-child {
    background-color: rgba(129, 165, 63, 0.15);
}

h1:first-child {
    text-transform: uppercase;
}

p {
    font-style: normal;
}

iframe {
    width: 100%;
    max-width: 520px;
    height: 315px;
}

.h1,
h1 {
    font-size: 1.89rem;
}

.page-title {
    border-radius: 0px 0px 10px 10px;
    background: #efedff;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 105px;
}

.card-header {
    padding: .75rem 1.25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
}


/**
* Foco
**/

.foco .accordion-flush .accordion-item .accordion-button {
    font-size: 32px;
}

.foco .accordion-flush .accordion-item .accordion-button:hover {
    color: #9b93ce;
}

.foco .accordion-button:not(.collapsed) {
    color: #c4bfe7;
}

.foco .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c4bfe7'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}

.foco .accordion-body {
    font-size: 18px;
    line-height: 1.6em;
}

.fixed-action-btn {
    right: 1rem;
    bottom: 3rem;
}

.fixed-action-btn .btn-primary:focus {
    background-color: #9b93ce;
}

.card-list a:hover {
    color: #9b93ce;
    text-decoration: none;
}

/**
* Footer
**/

footer {
    background-color: #d6d6d6;
    background-color: #d6d6d6;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

footer p {
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    header .hide-mobile {
        display: none !important;
    }
    .fixed-action-btn {
        right: 0;
        bottom: 4rem;
    }
}